body {
	font-family: 'Inter', sans-serif;
	overflow: hidden;
}

.section-carousel {
	background-color: #f9fbff;
	padding: 77px 0 77px 122px;
}

.header {
	align-items: center;
	display: flex;
	width: 90%;
}

.title-carousel, .buttons-carousel {
    display: inline;
}

.title-carousel {
	color: #093366;
	font-size: 32px;
	font-weight: 900;
	line-height: 41px;
	margin-left: 20px;
}

.buttons-carousel {
	left: 58%;
	position: relative;
}

.button {
	color: #093366;
	height: 32px;
	width: 32px;
}

.button:hover, .carousel-item:hover {
	cursor: pointer;
}

.carousel {
	display: flex;
	flex-direction: row;
	margin-top: 30px;
}

.carousel-item {
	background-color: #fff;
	border: 1px solid #f2f7fe;
	border-radius: 5px;
	box-shadow: 4px 4px 20px rgba(120, 135, 182, 0.1);
	box-sizing: border-box;
	height: 235px;
	left: 0px;
	margin: 0px 25px 10px 0;
	min-width: 315px;
	position: relative;
	transition: 0.5s all;  /* Efeito de transição do carrossel*/
}

.container-content {
	padding: 28px 20px 0;
}

.icon-course {
	color: #46b8b0;
	height: 60px;
	width: 60px;
}

.title-course {
    color: #0d3769;
    font-size: 16px;
	font-weight: 700;
	line-height: 18px;
	margin-bottom: 33px;
	margin-top: 23px;
}

.duration-course {
	align-items: center;
	border-top: 1px solid #f2f7fe;
	display: flex;
	padding: 13px 20px  0 20px;
}

.duration-simbol {
	color: #bec8d8;
	height: 25px;
	margin-right: 13px;
	width: 25px;
}

.duration-text {
	color: #d0d7e2;
	font-size: 16px;
	font-weight: 700;
	line-height: 18px;
}

.duration-simbol, .duration-text {
	display: inline-block;
}